/* semantic color variables for this project */
:root {
  --color-text-primary: #01041d;
  --color-text-blue: #4f647a;
  --color-text-green: #005208;
}

@font-face {
  font-family: 'Lexent';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Lexend-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexent';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Lexend-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexent';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Lexend-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Lexent';
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.15em;
  letter-spacing: -0.03rem;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--color-text-primary);
  scroll-behavior: smooth;
  text-align: center;
}

.view-wrapper {
  height: 100vh;
  /* if browser is not supported svh, height wil be 100vh */
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}

/* Fix scroll in old Safari, when height: 100vh
https://qna.habr.com/q/953445 */
@supports (-webkit-touch-callout: none) {
  .view-wrapper {
    height: -webkit-fill-available;
  }
}

.main-text {
  font-size: 2.4rem;
  line-height: normal;
  font-weight: 600;
}

.caption-text {
  font-size: 1.4rem;
  line-height: normal;
  color: var(--color-text-blue);
}

.continue-button {
  border: none;
  outline: none;
  background-color: #89f400;
  border-radius: 1.5rem;
  padding: 1.7rem 3.7rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
  color: var(--color-text-green);
  width: 100%;
  max-width: 30rem;
}

.header {
  padding: 6% 0 2rem;
}

.footer {
  padding: 1.2rem 0 7%;
  position: sticky;
  background-color: #fff;
  width: 100%;
}

.continue-button:disabled {
  background-color: #d3fe9c;
}

@media screen and (min-width: 600px) {
  .caption-text {
    font-size: 1.6rem;
  }
  .main-text {
    font-size: 3.6rem;
  }
}
